{% extends 'base.html' %}
{% load static %}

{% block title %}Create Property{% endblock %}

{% block content %}
<div class="grid grid-cols-2 mx-auto my-10 p-6 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Create New Property</h2>
    <form action="{% url 'property:property_create' %}" method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}

        <!--Property Title-->
        <div class="space-y-2">
            <label for="title" class="text-gray-700 font-medium">Property Title</label>
            <input type="text" id="title" required class="w-full px-4"
        </div>

        <!-- Images -->
        <div class="space-y-2">
            <label for="image" class="text-gray-700 font-medium">Property Images</label>
            <input type="file" id="image" name="images" multiple class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700">
        </div>

        <div class="space-y-2">
            <button type="submit" class="w-full px-6 py-2 text-white bg-gray-700 rounded-lg hover:bg-gray-600">Create Property</button>
        </div>
    </form>
</div>
{% endblock %}
